* {
  min-width: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: none !important;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 55px;
  height: 55px;
  border-radius: 9px;
  background-color: #007bff;
  color: white;
  border: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  font-size: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  transition: background-color 0.3s ease;
}

.floating-button:hover {
  background-color: #0056b3;
}

.add-card {
  position: fixed !important;
  bottom: 30px;
  right: 20px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}
